{% extends 'chat/base.html' %}
{% load static %}

{% block title %}
   <title>AI VideoChat Room</title> 
{% endblock %}

{% block body %}

    <h1 class="text-primary text-center">AI VideoChat Room</h1>

    <!-- <h3>IP Address : {{ user_ip }}</h3> -->


    <form method="POST" action="" class="container" id = "form_id" >

        {% csrf_token %}


        <div class="form-group">
            <label for="formGroupExampleInput">Your Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="name" required/>
        </div>

        <div class="form-group" style="margin-top: 18px;position: relative;">
            <label for="example" class="form-label">What you want :</label>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="choice" id="inlineRadio1" value="created" required />
                <label class="form-check-label" for="inlineRadio1">Create</label>
            </div>


            
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="choice" id="inlineRadio2" value="join" />
                <label class="form-check-label" for="inlineRadio2">Join</label>
            </div>
        </div>


        <div class="form-group">
            <label for="formGroupExampleInput">Room Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="room" />
        </div>




        <div class="form-group row " style="top: 18px; position: relative">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>


{% endblock %}


{% block js %}

    <script src="{% static 'chat/index.js' %}">  </script>
{% endblock %}
